body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #fdf6e3; 
    color: #333; 
    margin: 0;
    padding: 0;
  }
  
  h2 {
    color: #ff6f61;
    text-align: center;
  }
  
  button {
    font-size: 1rem;
    padding: 10px 15px;
    border: none;
    border-radius: 12px; 
    background: linear-gradient(90deg, #ff9aa2, #ffb7b2); 
    color: black;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
  }
  
  button:hover {
    background: linear-gradient(90deg, #ffb7b2, #ff9aa2); 
    transform: scale(1.05); 
  }
  
  button:active {
    transform: scale(0.95); 
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffe4e1; 
    padding:30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .buttons .accountBtns button {
    margin-left: 10px;
  }

  .accountBtns button, form button {
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
  
  #home {
    font-size: 1.7rem;
    background-color: #ffcccb; 
    padding: 10px;
    border-radius: 50%;
  }
  
  #home:hover {
    background-color: #ffb6c1; 
  }
  
.overlay{
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 270px;
    height: 280px;
    background-color:#ffe4e1;
    padding: 30px;
    border-radius: 10px;
  }
  
  .close {
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    right: 20px;
    top: 15px;
    border: none;
    font-size: 19px;
  }
  
  form {
    padding: 10px;
  }
  
  form input {
    width: 97%;
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 5px;
  }

  .grid {
    display: grid;
    grid-gap: 20px;
    padding: 40px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  .box {
    border: 1px solid black;
    border-radius: 7px;
    padding: 15px;
    margin-top: 5px;
    grid-template-columns: auto 1fr;
    background-color: #ffe4e1;
    box-shadow: 0 4px 6px #ff6f61;
    justify-items: center;
  }

  .link {
    text-decoration: none;
    color: black;
  }
