<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://kit.fontawesome.com/af8ac1f015.js" crossorigin="anonymous"></script>
  <script src="/static/script.js"></script>
  <title>Learn Computing</title>
</head>

<body>
  <div class="buttons">
    <button id="home" onclick="home()" aria-label="home button"><i class="fa-solid fa-house"></i></button>
    <img src="/static/logo.png" class="logo">
    <div class="accountBtns">
        <button id="logout" class="button" onclick="logout()" role="button">Logout</button>
    </div>
  </div>

  <div class="grid">
    <a href="/lessons" class="link">
      <div class="box">
        <p class="title">Lessons</p>
        <p>Learn about different exciting computing topics!</p>
      </div>
    </a>
  
    <a href="/stories" class="link">
      <div class="box">
        <p class="title">Stories</p>
        <p>Learn about important female role models in computing!</p>
      </div>
    </a>
  
    <a href="/about" class="link">
      <div class="box">
        <img src="/static/aboutpage.png" class="gridPhoto">
          <p class="title">About</p>
          <p>Find out more about the website!</p>
      </div>
    </a>
  </div>
  
</body>
</html>
