<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://kit.fontawesome.com/af8ac1f015.js" crossorigin="anonymous"></script>
  <script src="/static/script.js"></script>
  <title>Learn Computing</title>
</head>

<body>
  <div class="buttons">
    <button id="home" action="/" aria-label="home button"><i class="fa-solid fa-house"></i></button>
    <div class="accountBtns">
        <button id="logout" class="button" onclick="logout()" role="button">Logout</button>
    </div>
  </div>

  <div class="grid">
    <a href="/lessons" class="link">
      <div class="box">
        <p>Lessons</p>
      </div>
    </a>
  
    <a href="/stories" class="link">
      <div class="box">
        <p>Stories</p>
      </div>
    </a>
  
    <a href="/about" class="link">
      <div class="box">
        <p>About</p>
      </div>
    </a>
  </div>
  
</body>
</html>
