<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://kit.fontawesome.com/af8ac1f015.js" crossorigin="anonymous"></script>
  <script src="/static/script.js"></script>
  <title>Learn Computing</title>
</head>


<body>
  <div class="buttons">
    <button id="home" onclick="home()" aria-label="home button"><i class="fa-solid fa-house"></i></button>
    <img src="/static/logo.png" class="logo">
    <div class="accountBtns">
      {% if 'userID' in session %}
      <button id="logout" class="button" onclick="logout()" role="button">Logout</button>
      {% else %}
      <button id="login" class="button" onclick="showOverlay()" role="button">Login</button>
      <button id="sign-up" class="button" onclick="showSignUpOverlay()" role="button">Sign Up</button>
      {% endif %}
    </div>
  </div>

  <div class="overlay" id="loginOverlay">
    <form id ="login" action="/login" method="post" role="form" aria-label="close">
      <button class="close" onclick="hideOverlay()"><i class="fa-solid fa-xmark"></i></button>
      <h2>Log In</h2>
      {% if error %}
      <p style="color: red;">{{error}}</p>
      {% endif %}
      <label for="username">Username:</label>
      <input type="text" name="username" placeholder="Enter username" required="required"/> <br>
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="Enter password" required="required"/><br>
      <button class="button" type="submit">Login</button>
    </form>
  </div>
    
  <div class="overlay" id="signUpOverlay">
    <form id ="sign-up" action="/sign-up" method="post" role="form">
      <button class="close" type="button" onclick="hideOverlay()" aria-label="close"><i class="fa-solid fa-xmark"></i></button>
      <h2>Sign Up</h2>
        {% if error %}
          <p style="color: red;">{{error}}</p>
        {% endif %}
      <label for="username">Username:</label>
      <input type="text" name="username" placeholder="Create a username" required="required"/> <br>
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="Create a password" required="required"/><br>
      <button class="button" type="submit">Register</button>
    </form>
  </div>

{% if trigger_overlay %}
      <script>
        showOverlay();
      </script>
{% endif %}

{% if trigger_signUpOverlay %}
      <script>
        showSignUpOverlay();
      </script>
{% endif %}


      <div class="story">
        <img src="/static/adalovelace.png" class="profile">
        <div class="storyContent">
        <p class="name">Ada Lovelace (1815-1852)</p>
        <p>Ada Lovelace was a mathematician who lived in the 1800s, long before computers were invented. 
          But she had an amazing idea, she imagined a machine that could follow instructions to solve problems, just like computers do today!</p>
        <p>She worked with Charles Babbage, who was designing a machine called the Analytical Engine. 
          Most people thought of it as just a fancy calculator, but Ada wrote notes explaining how the machine could follow step-by-step instructions
          to do more than just maths, she thought it would be able to create patterns or even music! This was the world's first computer program.</p>
        <p>Even though computers weren’t built in her time, her ideas became super important many years later when real computers were invented.
          That’s why people call Ada Lovelace the world’s first computer programmer!</p>
        </div>
      </div>

      <div class="story">
        <img src="/static/dorothyvaughan.png" class="profile">
        <div class="storyContent">
        <p class="name">Dorothy Vaughan (1910-2008)</p>
        <p>Dorothy Vaughan was a mathematician and computer programmer who helped NASA send astronauts into space! </p>
        <p>In the 1940s, before modern computers existed, Dorothy worked as a human computer, solving complicated math problems by hand.
          She was so good at it that she became NASA’s first Black woman supervisor,
          leading a team of brilliant women who helped with important space missions.</p>
        <p>When NASA started using electronic computers, Dorothy taught herself how to program using a language called FORTRAN.
          She then trained others, making sure her team was ready for the future of technology.</p>
        <p>Her work helped NASA launch satellites and astronauts, and she played a huge role in preparing for space exploration.</p>
        </div>
      </div>

      <div class="story">
        <img src="/static/marykenneth.png" class="profile">
        <div class="storyContent">
        <p class="name">Sister Mary Kenneth (1913-1985)</p>
        <p>Sister Mary Kenneth She started working with computers in 1958, when there were very few women in the field.
          In fact, she was the only woman in the computer center at Dartford College!</p>
        <p>She didn’t stop there... she worked hard and became the first woman to earn a PhD in Computer Science in 1965,
           which means she was officially recognised as an expert in computers!</p>
        <p>One of her biggest achievements was helping to develop the BASIC computer language. Computers use a special language called binary, which is just ones and zeros.
          BASIC made it much easier for people to write instructions for computers, helping more people learn how to code.</p>
        <p>But she wasn’t just a brilliant scientist, she also encouraged women to work in science and technology.
          She even supported mothers by letting them bring their babies to class, which was a very new idea at the time!
          Because of her, more women felt they had a place in computer science.</p>
        </div>
      </div>

      <div class="story">
        <img src="/static/margarethamilton.png" class="profile">
        <div class="storyContent">
        <p class="name">Margaret Hamilton (1936-now)</p>
        <p>Margaret Hamilton is a pioneer in computer programming and even came up with the term "software engineering"!</p>
        <p>She played a huge role in the Apollo space missions.
          At NASA, she led a team that wrote the special instructions (software) that helped guide and control the Apollo spacecraft.
          Her work was super important because it helped detect errors, organize important information on screens, and even fix the system if something went wrong.</p>
        <p>During the Apollo 11 mission in 1969, when Neil Armstrong and Buzz Aldrin were about to land on the Moon,
          the computer started getting overloaded with too much information. But thanks to Margaret's software, the system knew what to focus on and avoided a crash,
          helping to make the moon landing a success!</p>
        <p>Because of her, space travel became safer, and software became a serious field of study.
          She helped shape the way computers work today! </p>
        </div>
      </div>

      <div class="story">
        <img src="/static/timnitgebru.png" class="profile">
        <div class="storyContent">
        <p class="name">Dr Timnit Gebru (1983-now)</p>
        <p>Dr. Timnit Gebru is a brilliant computer scientist who works to make artificial intelligence (AI) fairer and more ethical for everyone.</p>
        <p>She researches AI bias, which means making sure that computer programs treat all people equally, no matter their race or background.
          She has shown how some facial recognition systems work better on lighter skin tones but make mistakes with darker skin tones.</p>
        <p>Her work has helped people understand the importance of fairness in technology,
          and she wants to make sure that more people from different backgrounds have a voice in shaping the future of AI!</p>
        </div>
      </div>

</body>
</html>
